@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

